{% paginate collection.products by 9 -%}
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>{{collection.title}}</h2>
                    <span style="display:none;">Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for product in collections['frontpage'].products %}
                {% render 'product-item', product: product %}
            {% endfor %}
            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        {% for part in paginate.parts -%}
                            {% if part.is_link -%}
                                <li>
                                    {{ part.title | link_to: part.url}}
                                </li>
                            {%- else -%}
                                <li class="active">
                                    <a href="#">{{ part.title }}</a>
                                </li>
                            {% endif %}
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
{%- endpaginate %}
